* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: 'FilsonProRegular';
  src: url(./fonts/FilsonProRegular.ttf) format(truetype);
  font-weight: normal;
}
body {
  font-family: 'FilsonProRegular';
}

